# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# SQLite3 database files:
*.db

# Logs:
*.log

.sass-cache/

# Sublime Text files
*.sublime-workspace

# Pelican output directory
cache/
output/
