<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}niceguydave{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <div class="container">

      <h1>{% block page_title %}Example Base Template{% endblock page_title %}</h1>
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    <nav>

    </nav>

    <!-- Le javascript
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
